/* --- General Formatting --- */

body, .modal-header{
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

.btn {
    font-size: 1.2rem;
}

header {
    font-size: 1.25rem;
}

.navbar, .btn-primary{
    background-color: #000000;
    color: #FFFFFF;
}

.btn {
    border-color: #000000;
}

.margin-left-sm{
    margin-left: 1rem;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn{
    color: #000000;
    background-color: #ffc107;
    border-color: #000000;
}

.btn-secondary {
    background-color: #DF2300;
}

/* --- Header Formatting --- */
.logo-image{
    width: 3rem;
}

.logo-text{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2rem;
}

/* --- Form & Modal Formatting --- */

input.form-control {
    color: #000000;
}

.form-control:focus { 
    border-color: #000000;  
    -webkit-box-shadow: inset 0 1px 1px#000000, 0 0 8px #000000; 
    box-shadow: inset 0 1px 1px #000000, 0 0 8px #000000;
    background-color: #ffc107;
    
} 

.modal-header {
    border-color: #000000;
    font-size: 1.5rem;
}

/* Summary Table Formatting */

#summary-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.summary-table {
    font-size:1rem;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.summary-table th {
    background-color: #ffc107;
}

/* --- Main Table Formatting --- */

.footable-filtering-search .btn.dropdown-toggle {
    display: none;
}

.footable-filtering-search {
    margin: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.action-button {
    width: 2rem;
    height: 2rem;
}

.action-button {
    padding: 0;
}

td.footable-sortable > span.fooicon, th.footable-sortable > span.fooicon {
    top: 85%;
}

.main-table thead th {
    border-bottom: 2px double #6c6d6e;
}

/* .main-table .footable-header {
    background-color: #ffc107;
} */

.footable-detail-row {
    border-bottom: 2px solid #6c6d6e;
}

.footable-first-visible{
    size:.1rem;
}

.table-sm td, .table-sm th {
    padding: .75rem;
}

.table-div header{
    padding: 0px;
}

.container {
    max-width: 98%;
    margin-top: 1%;
  }


/* --- Responsive Formatting --- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    table.footable>thead>tr.footable-filtering>th div.form-group {
        margin-left: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo-image{
        width: 3.5rem;
    }

    .logo-text{
        font-size: 2.5rem;
    }

    header {
        font-size: 1.5rem;
    }

    .main-table th {
        font-size: 1.1rem;
    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    td {
        font-size: 1.1rem;
    }
}